<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MangaStore</title>
</head>
<body>
    <h1>{{ titre }}</h1>
    <p>Découvrez notre catalogue de mangas.</p>
    <a href="/catalogue">Voir le catalogue</a>
</body>
</html>
